In [3]:
import sys
# This path will be different on your machine. Please change it accordingly.
project_path = 'C:\Users\stacy\OneDrive\Projects\scouting17\irsScouting2017\Server'
sys.path.append(project_path)
# Let's verify the path was added. The syntax below works because the data type of sys.path is Python List.
sys.path[-3:]

['C:\\Users\\stacy\\OneDrive\\Projects\\scouting17\\irsScouting2017\\Server',
 'C:\\Users\\stacy\\OneDrive\\Projects\\scouting17\\irsScouting2017\\Server',
 'C:\\Users\\stacy\\OneDrive\\Projects\\scouting17\\irsScouting2017\\Server']

## Get a Database Connection
We can get a database engine from the irsScouting system, or directly from the database server via the sqlalchemy package.

In [10]:
# From irsScouting
import scouting.db as db
engine = db.getdbengine()

In [11]:
# Directly from Postgresql via sqlalchemy
import sqlalchemy as sa
connection_string = 'postgresql://irs1318:irs1318@localhost:5432/scouting'
engine = sa.create_engine(connection_string)

## Get a Rankings Table

In [12]:
import scouting.output as out
tasks = ['moveBaseline', 'placeGear','shootHighBoiler', 'shootLowBoiler']
ranks = out.get_rankings(tasks = tasks, excel_file = None)

In [13]:
ranks['auto'].head()

task  moveBaseline                          placeGear                         \
     sum_successes sum_attempts percent sum_successes sum_attempts   percent
team
1258           5.0          4.0    1.25           2.0          0.0       inf
1294           7.0          7.0    1.00           3.0          1.0  3.000000
1318           6.0          4.0    1.50           3.0          0.0       inf
1899           2.0          5.0    0.40           1.0          0.0       inf
1983           7.0          7.0    1.00           5.0          0.0       inf

task shootHighBoiler                      shootLowBoiler
       sum_successes sum_attempts percent  sum_successes sum_attempts percent
team
1258             NaN          NaN     NaN            NaN          NaN     NaN
1294             NaN          NaN     NaN            0.0          0.0     NaN
1318             2.0          2.0     1.0            NaN          NaN     NaN
1899             NaN          NaN     NaN            NaN          NaN     NaN
1983             NaN          NaN     NaN            NaN          NaN     NaN

In [14]:
ranks.sort_values(by=('teleop', 'placeGear', 'sum_successes'), ascending = False)[('teleop')].head(10)

task     placeGear                        shootHighBoiler               \
     sum_successes sum_attempts   percent   sum_successes sum_attempts
team
4469          32.0         34.0  0.941176             0.0          3.0
2930          30.0         32.0  0.937500             NaN          NaN
5588          30.0         30.0  1.000000             6.0          8.0
5803          30.0         30.0  1.000000             NaN          NaN
2942          23.0         25.0  0.920000             NaN          NaN
2046          22.0         22.0  1.000000             5.0         27.0
1294          21.0         21.0  1.000000             2.0          6.0
1983          19.0         22.0  0.863636             0.0          0.0
2976          19.0         22.0  0.863636             NaN          NaN
2907          17.0         17.0  1.000000             NaN          NaN

task           shootLowBoiler
       percent  sum_successes sum_attempts percent
team
4469  0.000000            0.0         10.0     0.0
2930       NaN            NaN          NaN     NaN
5588  0.750000            NaN          NaN     NaN
5803       NaN            NaN          NaN     NaN
2942       NaN            NaN          NaN     NaN
2046  0.185185            NaN          NaN     NaN
1294  0.333333            NaN          NaN     NaN
1983       NaN            NaN          NaN     NaN
2976       NaN            0.0          0.0     NaN
2907       NaN            0.0          6.0     0.0

In [17]:
all_ranks = out.get_rankings(excel_file = None)
all_ranks.sort_values(by=('finish', 'pushTouchPad', 'sum_successes'), ascending = False)[('finish')].head(10)

task      disabled                           hasRobot                       \
     sum_successes sum_attempts percent sum_successes sum_attempts percent
team
4469           NaN          NaN     NaN           NaN          NaN     NaN
1983           2.0          0.0     inf           NaN          NaN     NaN
5588           NaN          NaN     NaN           NaN          NaN     NaN
2930           NaN          NaN     NaN           NaN          NaN     NaN
1318           1.0          0.0     inf           NaN          NaN     NaN
2907           NaN          NaN     NaN           NaN          NaN     NaN
3588           NaN          NaN     NaN           NaN          NaN     NaN
4681           NaN          NaN     NaN           NaN          NaN     NaN
4131           1.0          0.0     inf           NaN          NaN     NaN
2046           NaN          NaN     NaN           NaN          NaN     NaN

task maintainContact                       pushTouchPad                       \
       sum_successes sum_attempts percent sum_successes sum_attempts percent
team
4469            10.0          0.0     inf          10.0          0.0     inf
1983             4.0          0.0     inf           9.0          0.0     inf
5588             8.0          0.0     inf           9.0          0.0     inf
2930             8.0          0.0     inf           8.0          0.0     inf
1318             7.0          0.0     inf           8.0          0.0     inf
2907             4.0          0.0     inf           8.0          0.0     inf
3588             5.0          0.0     inf           8.0          0.0     inf
4681             7.0          0.0     inf           8.0          0.0     inf
4131             1.0          0.0     inf           7.0          0.0     inf
2046             7.0          0.0     inf           7.0          0.0     inf

task shotPercentHigh                      shotPercentLow
       sum_successes sum_attempts percent  sum_successes sum_attempts percent
team
4469             0.0          0.0     NaN            NaN          NaN     NaN
1983             0.0          0.0     NaN            0.0          0.0     NaN
5588             NaN          NaN     NaN            NaN          NaN     NaN
2930             0.0          0.0     NaN            0.0          0.0     NaN
1318             0.0          0.0     NaN            0.0          0.0     NaN
2907             NaN          NaN     NaN            NaN          NaN     NaN
3588             0.0          0.0     NaN            0.0          0.0     NaN
4681             0.0          0.0     NaN            0.0          0.0     NaN
4131             0.0          0.0     NaN            0.0          0.0     NaN
2046             0.0          0.0     NaN            0.0          0.0     NaN

In [25]:
import datetime as dt
dt.datetime.now().strftime("%Y%b%d_%H%M%S")

'2017Mar18_105918'

In [27]:
import scouting.event as evt
evt.EventDal.get_current_event()

u'waamv'