# Imports

In [1]:
from IPython.core.debugger import set_trace

import pandas as pd
import pandas.io.json as pj

import json
import re
import datetime
from collections import OrderedDict

key = "6Sx6a2gOyNWwNNTAd9UYBOpWp7MxaNrZgO4CqConwJwwDooKQV3DbZXvnk8TBL7A"

In [2]:
import tbap.api as api
import tbap.server as server

In [3]:
sn = api.Session(key)
snj = api.Session(key, data_format="json")
pd.set_option("display.float_format", "{:f}".format)

### get_event_info()

In [4]:
event = api.get_alliances(sn, event="2017pncmp")

In [5]:
event.head()

                   backup      status declines level playoff_average  \
name       team
Alliance 1 frc3238  False  eliminated       []     f            None
           frc3663  False  eliminated       []     f            None
           frc1318  False  eliminated       []     f            None
Alliance 2 frc2046  False         won       []     f            None
           frc2471  False         won       []     f            None

                    current_level_wins  current_level_losses  \
name       team
Alliance 1 frc3238                   0                     2
           frc3663                   0                     2
           frc1318                   0                     2
Alliance 2 frc2046                   2                     0
           frc2471                   2                     0

                    current_level_ties  overall_wins  overall_losses  \
name       team
Alliance 1 frc3238                   0             4               3
           frc3663                   0             4               3
           frc1318                   0             4               3
Alliance 2 frc2046                   0             6               2
           frc2471                   0             6               2

                    overall_ties
name       team
Alliance 1 frc3238             0
           frc3663             0
           frc1318             0
Alliance 2 frc2046             0
           frc2471             0

In [6]:
event = api.get_alliances(sn, event="2017pncmp")

In [7]:
event.head()

                   backup      status declines level playoff_average  \
name       team
Alliance 1 frc3238  False  eliminated       []     f            None
           frc3663  False  eliminated       []     f            None
           frc1318  False  eliminated       []     f            None
Alliance 2 frc2046  False         won       []     f            None
           frc2471  False         won       []     f            None

                    current_level_wins  current_level_losses  \
name       team
Alliance 1 frc3238                   0                     2
           frc3663                   0                     2
           frc1318                   0                     2
Alliance 2 frc2046                   2                     0
           frc2471                   2                     0

                    current_level_ties  overall_wins  overall_losses  \
name       team
Alliance 1 frc3238                   0             4               3
           frc3663                   0             4               3
           frc1318                   0             4               3
Alliance 2 frc2046                   0             6               2
           frc2471                   0             6               2

                    overall_ties
name       team
Alliance 1 frc3238             0
           frc3663             0
           frc1318             0
Alliance 2 frc2046             0
           frc2471             0

In [8]:
event = api.get_insights(sn, event="2017pncmp")

In [9]:
event.head()

                                     value_0 value_1 value_2
level   statistic
playoff average_foul_score          7.638889     NaN     NaN
        average_fuel_points         8.444444     NaN     NaN
        average_fuel_points_auto    4.555556     NaN     NaN
        average_fuel_points_teleop  3.888889     NaN     NaN
        average_high_goals         16.916667     NaN     NaN

In [10]:
oprs = api.get_oprs(sn, event="2017pncmp")

In [11]:
oprs.head()

      team      ccwms      dprs       oprs
0  frc1294 -24.335484 86.820430  62.484947
1  frc1318 -11.216645 77.342205  66.125559
2  frc1425  43.110205 66.818698 109.928903
3  frc1540  25.355900 68.649207  94.005107
4  frc1595  12.184601 88.020722 100.205323

In [4]:
pred = api.get_predictions(sn, event="2017pncmp")

In [5]:
pred["event_stats"]

                                   value
level   statistic
playoff brier_scores_gears      0.075659
        brier_scores_pressure   0.037968
        brier_scores_win_loss   0.242488
        err_mean               70.722756
        err_var               710.189664
        wl_accuracy            61.111111
        wl_accuracy_75         66.666667
qual    brier_scores_gears      0.230521
        brier_scores_pressure   0.033869
        brier_scores_win_loss   0.241143
        err_mean               38.497150
        err_var               963.429657
        wl_accuracy            64.062500
        wl_accuracy_75         71.794872

In [8]:
pred["predictions"].head(16)

                                                    value
level   match          alliance statistic
playoff 2017pncmp_f1m1 red      gears           11.364998
                                gears_var        8.374582
                                pressure         2.710102
                                pressure_var    37.141837
                                prob_gears       0.413158
                                prob_pressure    0.000000
                                score          383.084459
                                score_var     2973.001189
                       blue     gears            8.187332
                                gears_var       10.715373
                                pressure        27.526377
                                pressure_var   554.874063
                                prob_gears       0.122064
                                prob_pressure    0.298217
                                score          364.338493
                                score_var     1726.326660

In [7]:
pred["team_rankings"].head()

           points     rank
team
frc3238 31.000000 1.000000
frc3663 25.000000 2.000000
frc2046 24.000000 3.000000
frc2910 24.000000 4.000000
frc4488 24.000000 5.000000

In [9]:
pred["team_stats"].head(12)

                                    value
team    statistic point level
frc1294 gears     mean  playoff  2.963284
                  var   playoff  1.209887
        pressure  mean  playoff -0.688318
                  var   playoff 11.954130
        score     mean  playoff 73.938788
                  var   playoff 19.445403
        gears     mean  qual     2.911208
                  var   qual     1.124223
        pressure  mean  qual    -0.264045
                  var   qual    11.994400
        score     mean  qual    73.653914
                  var   qual    23.481805

In [4]:
ranks = api.get_event_rankings(sn, event="2017pncmp")

In [7]:
ranks.query("team=='frc1318'")

,team,matches_played,Total Ranking Points,Ranking Score,Match Points,Auto,Rotor,Touchpad,Pressure,wins,losses,ties,dq,qual_average
rank,,,,,,,,,,,,,,
60,frc1318,12,9,0.750000,3119.000000,739.000000,1620.000000,1150.000000,129.000000,4,8,0,0,None

In [4]:
points = api.get_district_points(sn, event="2017pncmp")

In [5]:
points["points"].head()

         alliance_points  award_points  elim_points  qual_points  total
frc1294                0             0            0           24     24
frc1318                3             0           60           18     81
frc1425               15            15            0           42     72
frc1510                0             0            0            0      0
frc1540                0            30            0           48     78

In [8]:
points["high_scores"].head(6)

         highest_qual_score  qual_wins  score_rank
team
frc1294                 320          0           1
frc1294                 320          0           2
frc1294                 300          0           3
frc1318                 351          0           1
frc1318                 330          0           2
frc1318                 305          0           3